<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <h2>Add Theif</h2>
            <form [formGroup]="details">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Name</label>
                        <input type="text" formControlName="name" class="form-control" placeholder="Enter Theif Name" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>Age</label>
                        <input type="number" formControlName="age" class="form-control" placeholder="Enter Theif age" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>Gender</label>
                        <select formControlName="gender" class="form-control">
                            <option value="" disabled selected>Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Mobile Number</label>
                        <input type="number" formControlName="mobileNumber" class="form-control"
                            placeholder="Enter Theif mobile number" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>Crime</label>
                        <input type="text" formControlName="crime" class="form-control"
                            placeholder="Enter Theif crime" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>Section</label>
                        <input type="text" formControlName="section" class="form-control"
                            placeholder="Enter Crime section" />
                    </div>
                    <div class="form-group">
                        <button class="btn-adddetails" (click)="addDetails()">Add Details</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>