<div class="container">
    <h3>View Theif Details</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    S.no
                </th>
                <th>
                    Name
                </th>
                <th>
                    Age
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Mobile number
                </th>
                <th>
                    Crime
                </th>
                <th>
                    Section
                </th>
                <th>
                    Update
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tr *ngFor="let field of theifDetail; let i =index">
            <td>
                {{i+1}}
            </td>
            <td>
                {{field.name}}
            </td>
            <td>
                {{field.age}}
            </td>
            <td>
                {{field.gender}}
            </td>
            <td>
                {{field.mobileNumber}}
            </td>
            <td>
                {{field.crime}}
            </td>
            <td>
                {{field.section}}
            </td>
            <td>
                <button class="btn btn-success" (click)="updateTheif(field._id)">Update</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="deleteTheif(field._id)">Delete</button>
            </td>
        </tr>
    </table>
</div>